html, body {
  margin:0;
  padding:0;

}
body {
  font-size:16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  background:white;
  min-width: 900px;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */

h2 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  /*font-weight: normal;*/
  /*font-family: "Roboto Medium";*/
}



.slider {
  position:relative;
  width:880px;
  height:310px;
  margin-top: 16px;
}
.slider input[type=radio] {
  position:absolute;
  opacity:0;
}
.slider-controls {
  position:absolute;
  bottom:95px;
  left:49%;
  width:200px;
  height:10px;
  margin-left:-102px;
  text-align:center;
  z-index:1000;
}
.slider-controls label {
  display:inline-block;
  width:4px;
  height:4px;
  margin:0 3px;
  background:white;
  border:3px solid white;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background:#c1c1c1;
}
.slide {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}
.slide-text {
  width:465px;
  padding:30px 0;
  color:#283136;
}
.slide-title {
  font-size:36px;
  line-height:36px;
  /*font-weight:bold;*/
  color:black;
  padding-bottom: 3px;
}

.slide .btn {
  display:block;
  width:240px;
  padding:10px 0;
  margin-top:32px;
  font-size:12px;
  color:white;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;
  background:#fb565a;
  border-radius:3px;
}

.slide .btn:hover {
  background-color: #d6494d;
  border: 1px solid #d6494d;
}

.slide .btn:active {
  background-color: #b63538;
  border: 1px solid #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}
.slide:nth-child(1) {
  background-image:url("../img/slider-1.png");
  background-repeat:no-repeat;
  background-position:100% 10px;
}
.slide:nth-child(2) {
  background-image:url("../img/slider-2.png");
  background-repeat:no-repeat;
  background-position:100% 10px;
}
.slide:nth-child(3) {
  background-image:url("../img/slider-3.png");
  background-repeat:no-repeat;
  background-position:100% 0;
}
.slide {
  display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  /*height: 407px;*/
  background: #eeeeee;
  padding-top: 20px;
  /*opacity: 0.5;*/
  /*Временно*/

}

.header-block {
  padding-top: 29px;
  padding-bottom: 40px;
}

.container {
  /*background: green;*/
  /*opacity: 0.5;*/
  /*Временно*/
  width: 880px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main-logo {
  width: 139px;
  height: 56px;
  float: left;
  margin-right: 139px;
}

.main-navigation {
  width: 500px;
  float: left;
  text-align: right;
}

.main-navigation-list {
  margin: 18px 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation-list li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation-list a {
  text-decoration: none;
  display: block;
  color: #000000;
  padding: 9px;
  /*padding-bottom: 5px;*/
  margin-right: 32px;
  /*background-color: red;*/
}

.main-navigation-list a:hover {
  color: #fb565a;
}

.main-navigation-list a:active {
  color: #000000;
  opacity: 0.4;
}



.active-link {
  border-bottom: 2px solid #fb565a;
}

.cart {
  width: 100px;
  float: right;
  position: relative;
}

.cart a {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  padding: 9px;
  padding-left: 33px;
  margin-top: 18px;
  /*background-color: red;*/

}

.icon-basket::before {
  content: "\62";
  position: absolute;
  top: 33px;
  left: 0px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}

.cart a:hover {
  color: #fb565a;
}

.cart a:active {
  color: #000000;
  opacity: 0.4;
}

/*.icon-basket:hover::before {
  color: #fb565a;
  opacity: 1;
}*/



.features {
  /*min-height: 379px;*/
  /*background: red;*/
  /*opacity: 0.7;*/
  /*Временно*/
  padding-top: 79px;
  padding-bottom: 81px;
  border-bottom: 2px solid #eeeeee;
}

.features-item {
  width: 240px;
  float: left;
  margin-right: 79px;
  margin-bottom: 0;
}

.features-item:last-child {
  margin-right: 0px;
}

.features-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  /*padding-top: 4px;*/
}

.features-paragraph {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: #283136;
}

.btn {
  display: block;
  width: 137px;
  height: 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 6px;
  margin-top: 26px;
}

.btn-red {
background-color: #fb565a;
border: 1px solid #fb565a;
border-radius: 3px;
}

.btn-red:hover {
  background-color: #d6494d;
  border: 1px solid #d6494d;
}

.btn-red:active {
  background-color: #b63538;
  border: 1px solid #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}

.btn-green {
background-color: #00ca74;
border: 1px solid #00ca74;
border-radius: 3px;
}

.btn-green:hover {
  background-color: #01a25e;
  border: 1px solid #01a25e;
}

.btn-green:active {
  background-color: #009053;
  border: 1px solid #009053;
  box-shadow: inset 0 3px 0 0 #007b47;
}

.btn-yellow {
background-color: #efc84a;
border: 1px solid #efc84a;
border-radius: 3px;
}

.btn-yellow:hover {
  background-color: #d6ae2c;
  border: 1px solid #d6ae2c;
}

.btn-yellow:active {
  background-color: #c09b24;
  border: 1px solid #c09b24;
  box-shadow: inset 0 3px 0 0 #a3841f;
}

.about {
  /*min-height: 415px;*/
  /*background: violet;*/
  /*opacity: 0.4;*/
  /*Временно*/
  padding-top: 46px;
  padding-bottom: 55px;
  border-bottom: 2px solid #eeeeee;
}

.about-left {
  width: 620px;
  float: left;
  margin-right: 20px;
  /*margin-top: -10px;*/
  /*background-color: red;*/
  /*background-color: green;*/
}

.about-right {
  width: 240px;
  float: left;
  /*background-color: red;*/
  margin-top: 13px;
}

.studio {
  font-size: 36px;
  line-height: 36px;
  /*width: 525px;*/

}

.studio-paragraph {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  /*margin-top: -6px;*/
  /*word-spacing: 1px;*/
  padding-bottom: 22px;
}

.studio-paragraph-up {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.studio-list {
  padding: 0;
  margin: 0;
  list-style: none;
  /*background-color: green;*/
}

.studio-list-item {
  font-size: 16px;
  line-height: 22px;
  padding-top: 5px;
  padding-left: 34px;
  margin-bottom: 17px;
  position: relative;
}

.studio-list-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  left: -2px;
  top: 16px;
  background-color: #fb565a;
}

.logo {
  /*background-color: red;*/
  margin-bottom: 65px;
}

.portfolio {
  /*min-height: 112px;*/
  /*background: red;*/
  /*opacity: 0.4;*/
  /*Временно*/
  padding-top: 42px;
  padding-bottom: 36px;
  padding-left: 35px;
  padding-right: 12px;
  border-bottom: 2px solid #eeeeee;
  font-size: 0;
  margin-bottom: 86px;
}

.portfolio-item {
  display: inline-block;
  vertical-align: middle;
  /*width: 33.33%;*/
  /*float: left;*/
  margin-right: 118px;
  color: #231f20;
  opacity: 0.2;
  /*background-color: red;*/
}

.portfolio-item:hover {
  color: #231f20;
  opacity: 1;
}

.portfolio-item:active {
  color: #231f20;
  opacity: 1;
}


.portfolio-item:last-child {
  margin-right: 0px;
}

.main-footer {
  /*background: black;*/
  /*Временно*/
}

.map {
  /*min-height: 330px;*/
  /*background: violet;*/
  /*opacity: 0.4;*/
  /*Временно*/
  padding-top: 90px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*width: 1199px;*/
  height: 326px;
  /*margin: 0 auto;*/
  /*margin-bottom: 40px;*/
}

.map-contacts {
  /*min-height: 240px;*/
  /*background: black;*/
  /*opacity: 0.9;*/
  /*Временно*/
  width: 202px;
  /*height: 195px;*/
  /*float: left;*/
  background-color: #ffffff;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 25px;
  text-align: left;
}

.map-contacts-header {
  /*display: block;*/
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  /*padding-top: 23px;*/

}

.map-contacts-paragraph {
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  display: block;
}

.btn-contacts {
  display: block;
  width: 204px;
  height: 15px;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #fb565a;
  border: 1px solid #fb565a;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 31px;
}

.btn-contacts:hover {
  background-color: #d6494d;
  border: 1px solid #d6494d;
}

.btn-contacts:active {
  background-color: #b63538;
  /*border: 1px solid #b63538;*/
  box-shadow: inset 0 3px 0 0 #9b2d30;
}

.map-point {
  float: right;
  width: 230px;
  /*background-color: red;*/
  margin-top: 22px;
  margin-left: 200px;
}

/*.footer-about {
  background: blue;
  padding-top: 77px;
  padding-bottom: 77px;
}*/

.footer-social {
  /*min-height: 216px;*/
  /*background: violet;*/
  /*opacity: 0.7;*/
  /*Временно*/
  width: 300px;
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  position: relative;
}

.social-btn {
  display: inline-block;
  width: 65px;
  height: 65px;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 0;
}

.social-btn:hover {
  background-color: #fb565a;
}

.social-btn:last-child {
  margin-right: 0px;
}

.social-btn:active {
  background-color: #d6494d;
  box-shadow: inset 0 3px 0 0 #b63e42;
}

.social-btn-vk {
  background-image: url("../img/icon-vk.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-fb {
  background-image: url("../img/icon-facebook.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-inst {
  background-image: url("../img/icon-instagramm.png");
  background-repeat: no-repeat;
  background-position: center;
}

.discont {
  /*min-height: 216px;*/
  /*background: blue;*/
  /*opacity: 0.7;*/
  /*Временно*/
  width: 560px;
  float: right;
  /*padding-top: 77px;*/
  margin-top: 39px;
}

.discont-paragraph1 {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  padding-top: 37px;
  padding-bottom: 9px;
  color: #000000;
}

.discont-paragraph2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #283136;

}

/*=====catalog.html=====*/

.catalog-header {
  /*height: 299px;*/
  /*background: violet;*/
  /*opacity: 0.5;*/
  /*Временно*/
  padding-top: 30px;
}

.catalog {
  /*background: red;*/
  /*margin-top: 5px;*/
}

.description-header {
  /*background: red;*/
  /*min-height: 100px;*/
  /*Временно*/
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 41px;
  padding-bottom: 45px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

.choose {
  /*background: red;*/
  padding-top: 45px;
}

.menu {
  /*min-height: 750px;*/
  /*background: red;*/
  /*opacity: 0.5;*/
  /*Временно*/
  width: 240px;
  float: left;
  margin-right: 80px;
  margin-top: 30px;
  /*padding-top: 80px;*/
}

.features-select {
  border: 0;
  padding-left: 0;
}

legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  /*margin-bottom: 30px;*/
}







input {
  margin-bottom: 30px;
}

input[type="checkbox"] {
  margin-left: 18px;
}

input[type="radio"] {
    margin-left: 15px;
}

.form-btn {
  /*margin-top: 60px;*/
  background-color: #f1f1f1;
  width: 155px;
  height: 38px;
  radius: 30px;
  font-size: 12;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
}



.shop {
  /*min-height: 1125px;*/
  /*background: violet;*/
  /*Временно*/
  width: 560px;
  float: left;
  /*padding-top: 80px;*/

}

.sort {
  /*background: yellow;*/
  margin-bottom: 31px;
  /*padding-top: 80px;*/
}

.second-navigation-list {
  margin-top: 30px;

  padding-left: 0;
}

.second-navigation-list li {
  list-style: none;
  display: inline-block;
  margin-right: 35px;

}

.sort-list-2 .second-navigation-list li {
  margin-right: 0px;
}

.second-navigation-list a {
  /*color: #000000;*/

}

.btn-sort {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.3;
  text-transform: uppercase;
}

.span-sort {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.icon-down-dir, .icon-up-dir  {
  font-size: 24px;
  /*color: #00ca74;*/
}

.icon-down-dir {

  color: #00ca74;
}


.sort-list-1 {
  /*background: blue;*/
  /*opacity: 0.9;*/
  /*Временно*/
  width: 460px;
  float: left;
}

.sort-list-2 {
  /*background: blue;*/
  /*opacity: 0.9;*/
  /*Временно*/
  width: 80px;
  float: right;;
}

.catalog-item {
  width: 240px;
  float: left;
  margin-right: 80px;
  margin-bottom: 103px;
  position: relative;
}



.catalog-item:nth-child(2n) {
  margin-right: 0px;
}

.catalog-item:nth-child(5) {
  margin-bottom: 0px;
}

.catalog-item:nth-child(6) {
  margin-bottom: 0px;
}

.pages  {
  /*background: blue;*/
  /*opacity: 0.5;*/
  /*Временно*/
  width: 300px;
  float: left;
  margin-top: 83px;
  margin-bottom: 79px;
}

.pages-btn {
  display: inline-block;
  width: 35px;
  height: 27px;
  background-color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 8px;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  margin-right: 5px;
}

.pages-btn:last-child {
  width: 140px;
}

.pages .active {
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
}

main {
  background: #ffffff;
  /*opacity: 0.5;*/
  /*Временно*/
}

.range-filter {
  width: 240px;
  /*margin: 50px auto; /* для демонстрации */*/
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 5px;
}

.range-controls .toggle-max {
  left: 140px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}


/* СТАРЫЙ ВАРИАНТ

.main-header {
  margin-bottom: 80px;
}

.container {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.features {
  width: 880px;
  margin-bottom: 90px;
}

.features-item {
  float: left;
  margin-right: 80px;
  width: 200px;
}

.about {
  margin-bottom: 120px;
}

.about-left {
  float: left;
  width: 585px;
}

.about-right {
  float: right;
  width: 250px;
}

.portfolio {
  width: 570px;
}

.portfolio-item {
  float: left;
  width: 190px;
  margin-right: 130px;
  vertical-align: middle;
}

.portfolio-item:nth-child(3) {
  margin-right: 0px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.map-contacts {
  float: left;
  width: 250px;
}

.map {
  padding-bottom: 80px;
}

.discont {
  float: right;
  width: 250px;
}

.footer-social {
  float: left;
  width: 270px;
}

.main-logo {
  float: left;
  width: 200px;
  margin-right: 190px;
}

.main-navigation {
  float: left;
  width: 350px;
}

.main-navigation-list li {
  float: left;
  padding-right: 5px;
  list-style: none;

}

.cart {
  float: right;
  width: 100px;
  padding-top: 20px;
}

.catalog {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  float: left;
  width: 260px;
  height: 830px;
  margin-right: 90px;
}

.catalog-item {
  float: left;
  width: 265px;
}

.pages {
  float: left;
  margin-left: 330px;
  width: 330px;
}

.sort {
  padding-bottom: 50px;
}
*/
