body {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-weight: normal;
  font-family: "Roboto Medium";
}

h2 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto Medium";
}
