body {
  /*background: url("../img/nerds-index.jpg") no-repeat 50% 10px;*/
  background-size: 1200px auto;
  /*Временно*/
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto Medium";
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  height: 407px;
  /*Временно*/
  padding-top: 29px;


}

.container {
  width: 880px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main-logo {
  width: 139px;
  height: 56px;
  float: left;
  margin-right: 180px;
}

.main-navigatoin {
  width: 400px;
  float: left;
}

.links li {
  display: inline;
  width: 400px;
}

.cart {
  width: 100px;
  float: right;
}

.features {
  min-height: 379px;
  background: red;
  opacity: 0.4;
  /*Временно*/
  padding-top: 82px;
}

.features-item {
  width: 240px;
  float: left;
  margin-right: 80px;
}

.features-item:last-child {
  margin-right: 0px;
}

.about {
  min-height: 415px;
  background: violet;
  opacity: 0.4;
  /*Временно*/
  padding-top: 60px;
}

.about-left {
  width: 620px;
  float: left;
  margin-right: 20px;
}

.about-right {
  width: 240px;
  float: left;
}

.portfolio {
  min-height: 112px;
  background: red;
  opacity: 0.4;
  /*Временно*/
  padding-top: 58px;
  margin-bottom: 85px;
}

.portfolio-item {
  float: left;
  margin-right: 110px;
}

.portfolio-item:last-child {
  margin-right: 0px;
}

.map {
  min-height: 417px;
  background: violet;
  opacity: 0.4;
  /*Временно*/
}

.map-contacts {
  min-height: 240px;
  background: green;
  opacity: 0.9;
  /*Временно*/
  width: 250px;
  float: left;
  margin-top: 87px;
}

.footer-social {
  min-height: 216px;
  background: green;
  opacity: 0.7;
  /*Временно*/
  width: 300px;
  float: left;
}

.discont {
  min-height: 216px;
  background: green;
  opacity: 0.7;
  /*Временно*/
  width: 560px;
  float: right;
}


/*
.main-header {
  margin-bottom: 80px;
}

.container {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.features {
  width: 880px;
  margin-bottom: 90px;
}

.features-item {
  float: left;
  margin-right: 80px;
  width: 200px;
}

.about {
  margin-bottom: 120px;
}

.about-left {
  float: left;
  width: 585px;
}

.about-right {
  float: right;
  width: 250px;
}

.portfolio {
  width: 570px;
}

.portfolio-item {
  float: left;
  width: 190px;
  margin-right: 130px;
  vertical-align: middle;
}

.portfolio-item:nth-child(3) {
  margin-right: 0px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.map-contacts {
  float: left;
  width: 250px;
}

.map {
  padding-bottom: 80px;
}

.discont {
  float: right;
  width: 250px;
}

.footer-social {
  float: left;
  width: 270px;
}

.main-logo {
  float: left;
  width: 200px;
  margin-right: 190px;
}

.main-navigatoin {
  float: left;
  width: 350px;
}

.links li {
  float: left;
  padding-right: 5px;
  list-style: none;

}

.cart {
  float: right;
  width: 100px;
  padding-top: 20px;
}

.catalog {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  float: left;
  width: 260px;
  height: 830px;
  margin-right: 90px;
}

.catalog-item {
  float: left;
  width: 265px;
}

.pages {
  float: left;
  margin-left: 330px;
  width: 330px;
}

.sort {
  padding-bottom: 50px;
}
*/
